.products{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__title{
    font-weight: bold;
    margin: 10px auto 20px;
    font-size: 20pt;
    text-transform: uppercase;
   text-align: center;
  }
}

.container{
  padding: 5vh 10vw;
}