body{
    background-color: #3a4965;
    font-family: 'arimobold', sans-serif;
    cursor: default ;
}
@font-face {
    font-family: 'arimobold';
    src: url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot');
    src: url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../web fonts/arimo_bold_macroman/Arimo Bold.woff2') format('woff2'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.woff') format('woff'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.ttf') format('truetype'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


a{
    text-decoration: none;
}

table{
    margin: 100px auto;
    border-collapse: collapse;
}
th, td{
    padding: 0;
    border: 3px solid #dadada;
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    text-align: center;
}

tr:nth-of-type(odd){
    background-color: #f2f2f2;
}

tr:nth-of-type(even){
    background-color: #e3e3e3;
}

td:first-child{
    padding: 24px 99px;
}

.thBoldText{
    font-size: 30pt;
}

tr:nth-of-type(1)>th{
    border:none;
}

th:nth-of-type(1){
    font-size: 18pt;
    color: rgba(72, 72, 72, 255);
    width:310px;
    background-color: #fafafa;
    padding: 54px 49px 56px;
}

th:nth-of-type(2){
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    background-color: #89c331;
    padding: 27px 72px 25px;
}

th:nth-of-type(3){
    font-size: 30pt;
    color: rgba(255, 255, 255, 255);
    background-color: #f04a56;
    padding: 27px 67px 21px;

}

th:nth-of-type(4){
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    background-color: #20807c;
    padding: 27px 83px 25px;
}

tr:nth-of-type(2){
    background-color: #fafafa;
}

tr:nth-of-type(2)>td{
    width: 277px;
    height: 86px;
    padding: 19px 33px;
}

.price{
    font-size: 60pt;
    color: rgba(72, 72, 72, 255);
    font-weight: bold;
    float: left;
}

.cent-price{
    font-size: 24pt;
    color: rgba(72, 72, 72, 255);
    float: left;
    margin-bottom: 3px;
}

.perMonth{
    font-size: 18pt;
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
}

.middleCost{
    margin-top: 10px;
}


.productType{
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    display: inline-block;
    margin-left: 12px;
}

tr:last-child>td{
    background-color: #f4f4f4;
    padding: 32px;
}

tr:last-child>td:first-child{
    background-color: #dddddd;
}

.button{
    display: inline-block;
    width: 192px;
    height: 30px;
    text-align: center;
    background-color: #484848;
    border-radius: 8px;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    padding: 19px 40px 17px;
    vertical-align: center;

}

.standard{
    background-color: #89c331;
}
.ultimate{
    background-color: #f04a56;
}

.premium{
    background-color: #20807c;
}
tr:last-child>td:nth-of-type(even){
    background-color: #eeeeee;
}

.button:hover{
    background-color: lightgrey;
    transition: 1s;
    color: black;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}





