.modal{
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: lightblue;
  width: 50vw;
  height: 40vh;
  &__header{
    width: 100%;
    height: max-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 30pt;
    font-weight: bold;
  }
  &__content{
    margin: 20px 0;
    font-size: 20pt;
  }

  &__actions{
    display: flex;
    justify-content: center;
  }
}