body{
    margin: 0;
    padding: 0;

}

.blur {
    background-image: url("milan.jpg");
    width: 1366px;
    height: 768px;
    filter: blur(5px);
    position: absolute;
    z-index: -1;
    top:0;
    left: 50%;
    margin-left: -683px;
}

.wrap{
    width: 1065px;
    height: 699px;
    margin: 49px auto;
    font-size: 24pt;
    color: orange;
    text-align: center;
}

.logo{
    display: inline-block;
    float: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}

.logo:hover>.logo-photo{
    transition: 1s;
    background-image: url("logo2.png");
}

.logo:hover{
    color: #f26522;
    transition: 1s;
}

.logo-photo{
    display: inline-block;
    background-image: url("logo.png");
    width: 46px;
    height: 44px;
}

.logo-text1{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 29px;
    color: inherit;
    display: inline-block;
    vertical-align: top;
}

.logo-text2{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 18px;
    color: inherit;
    display: inline-block;
    margin-left: -96px;
}

.contact{
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    text-align: right;
    margin-top: 7px;
}

.header{
    margin-bottom: 44px;
    width: 100%;
    height: 45px; /*поставил фиксированую ширину ибо в тз написано полное соответсвие всех размеров, а когда я делал очистку блока после float-ов в конце, то ширина становилась 51px**/

}

.content{
    width: 1064px;
    height: 541px;
    margin: 0 auto;

}

.tour{
    text-decoration: none;
    display: inline-block;
    float: left;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    margin-right: 62px;
}

.tour:hover .tour-name{
    color: #f26522;
    transition: 0.5s;
    visibility: visible;
}

.tour:hover .cost-menu{
    opacity: 1;
    transition: 1s;
}

.cost-menu{
    width: 307px;
    height: 63px;
    position: absolute;
    background-color: #f26522;
    bottom: 0;
    margin-bottom: 6px; /**немного не по точности макета, но мне показалось, что так красивее**/
    display: inline-block;
    transition: 0.3s;
    opacity: 0;
}

.menu{
    width: 273px;
    margin-top: 16px;
    margin-left: 19px;
}

.from{
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 10px;
    color: rgba(255, 255, 255, 255);
    overflow: hidden;
}

.price{
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}

.details{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    vertical-align: bottom;
    float: right;
    width: 109px;
    text-align: left;
}

.details:after{
    content: " ";
    background-image: url("arrow.png");
    width: 7px;
    height: 10px;
    float: right;
    display: block;
    vertical-align: center;

}

.position{
    position: relative;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    padding: 3px;
}

/** добавил этот псевдоэлемент ибо у второй и у пятой картинки ширина больне чем у остальных**/
.content>.tour:nth-of-type(3n+2) .cost-menu{
    width: 308px;
}

.tour-name{
    margin-top: 17px;
}

.content>.tour:nth-of-type(3n){
    margin-right: 0;
    float: right;
}

.content>.tour:nth-of-type(1n+4){
    margin-top: 53px;
}

.footer{
   margin-top: 50px;
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
}


.clear{
    clear: both;
}





