body{
    margin: 0;
    padding: 0;
}

a.navbar-menu{
    text-decoration: none;
    color:  #45b39d;
}

.header{
font-family: Courier, serif;
    font-size: 18pt;
    text-transform: uppercase;
    text-align: center;
    height: 80px;
}
.navbar{
    padding-top: 26px;
    padding-bottom: 26px;
    word-spacing: 70px;
    margin: 0 auto;
}

.navbar-menu:hover{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.photo{
    width: 100%;
    height: 790px;
}
.content{
    padding-top: 10px ;
    margin: 0 auto;
    min-height: 650px;
    text-align: center;
    background-color: #f5f6f7;
}

.header-content{
    font-family: Courier, serif;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-transform: uppercase;
    margin-bottom: 34px;
}

.main-content{
    margin: 0 auto;
    width: 1059px;
    font-family: Courier, serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    padding-bottom: 40px;
}

.button{
    margin: 20px auto;
    width: 192px;
    min-height: 37px;
    background-color: #16a085;
    font-size: 12pt;
    color: white;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
    padding-top: 15px;

}

div.button:hover{
    background-color: #45b39d;
    font-size: 15pt;
    transition: 1s;
}

div.button>a{
    color: white;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
    text-decoration: none;
}

.footer{
    font-family: Courier, serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    min-height: 108px;
    margin-top: 45px;
    margin-right: 107px;
  text-align: right;
}


