.modal{
  overflow-y: scroll;
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20vh 0 0 -25vw;
  background-color: lightblue;
  border-radius: 30px;
  width: 50vw;
  height: 40vh;
  &__header{
    width: 100%;
    height: max-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 30pt;
    font-weight: bold;
  }
  &__content{
    margin: 20px 0;
    font-size: 20pt;
  }
  &__window{
    position: fixed;
    content: ' ';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .7);
  }
}