@font-face {
    font-family: 'FuturaBold';
    src: url("fonts/FUTURAB.TTF");
}

html{
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
}
body{
    font-family: 'FuturaBold', sans-serif;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.parallax{
    box-sizing: border-box;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}
.header{
    padding: 410px 0 200px;
}
.parallax>div{
    width: 974px;
    margin: 0 auto;
    font-size: 52px;
    text-align: center;
    color: white;
    text-transform: uppercase;

}

.parallax, .parallax:before{
    background: 50% 50% / cover;
}

.parallax::before{
    content:" ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-image: url("images/html_css_homework_homework8_optional_img_bg1.jpg");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -10;
    min-height: 100vh;
}
.parallax::after{
    content:" ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateZ(-1px) scale(2);
    z-index: 0;
    min-height: 100vh;
}

header{
    width: 100%;
    height: 110px;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: inline-block;
    margin-top: -5px;
}
.headerMenu{
    display: flex;
    justify-content: space-between;
    width: 998pt;
    height: 35px;
    font-size: 36pt;
    color: rgba(66, 79, 87, 255);
}

.headerMenu span{
    line-height: 35px;
}
.blueTExt{
    font-weight: bold;
    color: #14afca;
    line-height: 35px;
    font-size: 40pt;
}

.headerNav{
    align-self: center;
    width: 700px;
    height: 20px;
    display: flex;
    color: #3e4c4e;
    font-size: 14pt;
    justify-content: space-between;
}

.headerNav a{
    line-height: 11px;
}

.headerNav a:hover{
    color: #14afca;
    transition: 0.3s ;
}

.triangleSection{
    position: relative;

}
.what{
    top: 200px;
}

.triangleSection::before, .triangleSection::after{
    width: 50%;
    content: " ";
    top: -100px;
    height: 500px;
    background-color: white;
    transform: skewY(7deg);
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.triangleSection:after{
    transform: skewY(-7deg);
    right: 0;
}


.content{
    top: 50px;
    height: 215px;
    width: 973px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    z-index: 99;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto Light", sans-serif;
}

.middle{
    margin-top: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.middle, .middle:before{
    background: 0 20% / cover;
}
.middle:before{
    background-image: url("images/html_css_homework_homework8_optional_img_bg2.jpg");
}
.middle:after{
    background-color: rgba(0, 0, 0, 0.9);
}

h1{
    font-family: "Roboto Light", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: rgba(20, 175, 202, 255);
    box-sizing: border-box;
    margin: 0 0 27px;
    line-height: 50px;
}

h2{
    font-family: "Roboto Light", sans-serif;
    text-transform: none;
    color: #3e4c4e;
    font-size: 18px;
    margin: 0 0 42px;
}
.sec{
    width: 983px;
    height: 407px;
    position: relative;
    z-index: 55;
    top: -50px;

}


.companies{
    width: 100%;
    height: 268px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sec>h2, .testimonials>h2{
    color: white;
}
.companies img:nth-of-type(n+4){
    align-self: flex-end;
}


.adobe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 96px;
    background-color: white;

}

.port {
    top: 60px;
    width: 1010px;
    margin: 0 auto;
    position: relative;
    z-index: 34;
    text-align: center;
}

.triangleSection:nth-of-type(4)::before, .triangleSection:nth-of-type(4)::after{
    height: 800px;
    top: -100px;
}

.members{
    font-family: "Roboto Light", sans-serif;
    display: flex;
    width: 100%;
    height: 320px;
    justify-content: space-between;
    color: rgba(66, 79, 87, 255);
}

.member{
    width: 279px;
    height: 100%;
}

.member p{
    margin: 27px 0 0;
}

.section{
    margin-top: 150px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.section, .section:before{
    background: 0 0 / cover;
}

.section:before{
    background-image: url("images/html_css_homework_homework8_optional_img_bg3.jpg");
}
.section:after{
    background-color: rgba(0, 0, 0, 0.7);
}

.testimonials{
    top: 350px;
    width: 877px;
    height: 214px;
    position: relative;
    z-index: 20;
    font-family: 'CursiveA', sans-serif;
}

@font-face {
    font-family: "CursiveA";
    src: url("fonts/2208.ttf");
}
.testimonials>div{
    font-size: 16px;
    color: rgba(211, 204, 204, 255);
    text-transform: none;
}

.testimonials>span{
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    bottom: -20px;
    right: 100px;
}

.triangleSection:nth-of-type(6)::before, .triangleSection:nth-of-type(6)::after{
    height: 500px;
    top: -200px;
}
.footer{
    font-size: 30px;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    position: relative;
    z-index: 22;
    width: 100vw;
    height: 500px;
}

.footer>h2{
    margin-bottom: 55px;
}
.copyRight{
    font-family: Cochin,sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.footer>.copyRight:nth-last-of-type(2){
    margin-top: 113px;
}

.copyRight>span{
    font-weight: bold;
}