.navBar{
  display: flex;
  margin: 5vh auto;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 50%;
  height: auto;
  &__link{
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    font-size: 25px;
    background-color: black;
    color: white;
  }
}