body{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 12px;
}
.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}
.header{
    width: 100vw;
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.headerLogo{
    width: 200px;
    display: flex;
    align-items: center;
}

.logo{
    width: 69px;
    height: 70px;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText{
   font-size: 22px;
    display: inline-block;
    margin-left: 6px;

}

.headerNav{
    display: flex;
    width: 701px;
    height: 12px;
    font-size: 15px;
    text-transform: uppercase;
    align-items: baseline;
    justify-content: space-between;
}

.afterHeaderWindow{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    overflow: hidden;
    background-image: url("images/header-bg-img@1X.png");
    background-attachment: fixed;
    background-position: 0 -200px;

}

/*.afterHeaderWindow:before{*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*    transform: translateZ(-150px) scale(4);*/
/*    background: center/cover no-repeat;*/
/*}*/

/*.parallax:before{*/
/*    background-image: url("images/header-bg-img@1X.png");*/
/*}*/


.textAndButtons{
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 607px;
    height: 120px;
    font-size: 25px;
    justify-content: center;
    align-content: space-between;
}

.button{
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.green{
    background-color: #89ca62;
}

.blue{
    background-color: #14b9d5;
}
.textAndButtons>.button.green{
    margin-right: 20px;
}

.mainContent-Photo{
    height: 987px;
    background-color: #f2f2f2;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    font-size: 27px;
    padding-top: 43px;
}

.photoContent{
    width: 1170px;
    height: 828px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    align-content: space-between;
}

.photoItem{
    display: flex;
    width: 370px;
    flex-direction: column;
    background-color: white;
    margin-bottom: 32px;
}

.photoDescription{
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoItem:nth-last-of-type(1){
    margin-bottom: 0;
}

.popularClients {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 598px;
    background-attachment: fixed;
    background-image: url("images/html_css_homework_homework6_img_parallax-bg.jpeg");
}

.clientsNames {
    display: grid;
    justify-items: center;
    align-items: flex-end;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 881px;
    height: 193px;

    grid-template-areas:
"item1 item1 item1 item1"
"item2 item2 item2 item2"
"item3 item4 item5 item6";
}

.clientsNames>div.item1{
    font-size: 32px;
    text-transform: uppercase;
    align-self: flex-start;
    color: white;

}


.line{
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    align-self: center;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}


.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.item7{
    grid-area: item7;
}

.item8{
    grid-area: item8;
}

.topRates{
    width: 100vw;
    height: 381px;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;

}

.topRatesPhoto{
    width: 100vw;
    height: 190px;
    background-color: #1d2124;
    display: grid;
    grid-gap:0 ;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));;
}
.sectionName{
    display: inline-block;
    margin-top: 63px;
    margin-bottom: 52px;
}

.hotNews{
    height: 1618px;
    padding-top: 5px;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
}

.newsExample{
    color: rgba(53, 58, 61, 255);
    display: grid;
    width: 1170px;
    height: 1480px;
    margin: 55px auto;

    grid-template-rows: 259px 418px 416px 259px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;
    grid-row-gap: 43px;
    grid-column-gap: 35px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"



}

.nebulaTextAndPrismaText{
    margin-top: 10px;
}

.newsExample>div{
    background-color: #f9f7f7;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
}


.float>img{
    float: left;
}

.description{
    width: 374px;
    font-size: 14px;
    float: left;
    color: rgba(91, 100, 105, 255);
    text-align: center;
}

.descriptionText{
    width: 320px;
    height: 181px;
   text-align: right;
    margin-top: 41px;
    margin-left: 30px;
}

.descriptionText>h1{
    font-size: 17px;
    color: rgba(53, 58, 61, 255);

}

.bigDescription{
    margin-top: 20px;
    margin-left: 22px;
    width: 505px;
    height: 118px;
   font-size: 13px;
    text-align: right;
    color: rgba(91, 100, 105, 255);
}

.bigDescription>h1{
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}


.newsExample>.item3, .item4, .item5, .item6{

}

.newsExample>.item3, .item4, .item5, .item6{
    max-width: 554px;
}

.newsExample>.item4, .item6{
   justify-self: flex-end;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #1d2124;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footerMenu{
    width: 1170px;
    height: 24px;
    display: grid;
    grid-template-columns: 704px 300px;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: white;
}

.footerLogo{
    justify-self: flex-end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr;
    justify-items: flex-end;
}