body{
    background-color: #3a4965;
    font-family: 'arimobold', sans-serif;
    cursor: default;
}

@font-face {
    font-family: 'arimobold';
    src: url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot');
    src: url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../web fonts/arimo_bold_macroman/Arimo Bold.woff2') format('woff2'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.woff') format('woff'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.ttf') format('truetype'),
    url('../web fonts/arimo_bold_macroman/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


a{
    text-decoration: none;
    color: inherit;
}

table{
    margin: 100px auto;
    border-collapse: collapse;
    color: rgba(72, 72, 72, 255);
    border:3px solid #dadada; ;
}
th, td{
    padding: 0;
    border: 3px solid #dadada;
    font-size: 16pt;
    color: rgba(72, 72, 72, 255);
    text-transform: uppercase;
    text-align: center;
}

tr:first-child>td:first-child{
    padding: 40px 28px 38px;
    font-size: 14pt;
    width: 230px;
    background-color: #fafafa;
}

.boldText{
    font-size: 20pt;
    display: block;
    margin-top: 9px;
}

tr>td:nth-of-type(even){
    background-color: #e3e3e3;
}

tr>td:nth-of-type(odd){
    background-color: #f2f2f2;
}

tr:first-child>td{
    font-size: 24pt;
}

tr:first-child>td:nth-of-type(2){
    padding: 32px 37px;
    width: 100px;
}

tr:first-child>td>i{
    font-size: 24pt;
    display: block;
    margin-bottom: 9px;
}

tr:first-child>td:nth-of-type(3){
    padding: 32px 18px;
}

tr:first-child>td:nth-of-type(4){
 padding: 0 66px;
}

tr:first-child>td:nth-of-type(5){
    padding: 0 37px;
}

tr:first-child>td:nth-of-type(6){
    padding: 0 25px;

}

tr:first-child>td:nth-of-type(7){
    padding: 0 59px;
}

tr:nth-of-type(2)>td:nth-of-type(1){
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    background-color: #89c331;
    height: 167pt;
    border: none;
}

.price{
    font-size: 36pt;
    display: block;
    text-align: left;
    width: 152pt;
    margin: 22px auto;
}

.coins{
    font-size: 18pt;
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
}

.perMonth{
    text-align: right;
    font-size: 12pt;
}

.buy{
    font-size: 16pt;
    background-color: #414141;
    min-width: 144pt;
    display: inline-block;
border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 13px;
}

.buy:hover{
    background-color: #e3e3e3;
    transition: 1s;
    color: black;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px black;
}

tr:nth-of-type(3)>td:first-child{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    background-color: #f04a56;
    height: 167pt;
    border: none;
}

tr:nth-of-type(4)>td:first-child{
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);
    background-color: #20807c;
    height: 167pt;
    border: none;
}

.cellSpacing{
    margin-bottom: 9px;
}
