.posts{
  padding-bottom: 81px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  &__item{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
  &__description{
    padding-top: 11px;
  }
  &__name{
    @include font-source-sans(14px, #4E4E4E, bold, normal, 30px);
  }
  &__info{
    @include font-source-sans(11px, #7C7C7C, normal, normal, 20px)
  }
  &__text{
    padding-top: 2%;
    @include font-source-sans(14px, #5C5C5C, noemal, normal, 24px)
  }
  img{
    width: 160px;
    height: auto;}
}
.main-content{
  padding: 0 25px 42px 25px;
}

.title{
  @include font-source-sans(14px, #4E4E4E, bold, normal, 22px);
  text-transform: uppercase;
  margin-bottom: 13px;
  &-white{
    color: white;
  }
}

.insta-posts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  img{
    width: 100%;
    height: 100%;
  }
  &__title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    @include font-source-sans(13px, #4E4E4E, bold, normal, 22px)
  }
}