
.footer{
  padding: 4% 2% 0 2%;
  background-color: black;
  text-align: center;
  &__description{
    @include font-source-sans(12px, #B9B9B9, normal, normal, 20px)
  }
  &__icons{
    margin-top: 26px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }
}

.icon{
  @include widthHeight(34px, 34px);
  border-radius: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border: 2px solid white;
  margin-right: 6px;
  @include displayFlex(row, center, center);
  &-rss{
    border-color: #F8902E;
    color: #F8902E;
  }
  &-facebook{
    border-color: #39599F;
    color: #39599F;
  }
  &-twitter{
    border-color: #45B0E3;
    color: #45B0E3;
  }
  &-dribble{
    border-color: #D97AB0;
    color: #D97AB0;
  }
  &-pinterest{
    border-color: #CC212C;
    color: #CC212C;
  }
  & img{
    width: 30%;
    height: auto;
  }
}

.footer__contacts{
  padding: 0 10% 5% 10%;
  text-align: center;
  @include font-source-sans(14px, #B9B9B9, normal, normal, 24px)
}