header{
  padding: 23px 25px 42px 25px;
}
h2{
  display: block;
  height: 22px;
}



.menu {
  position: relative;
  &-btn {
    display: inline-block;
    right: 0;
    position: absolute;
    @include widthHeight(44px, 36px);
    background-color: black;
    &__line{
      position: absolute;
      width: 18px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -9px;
      background-color: white;
      &:after, &:before{
        @extend .menu-btn__line;
        content: "";
        transition: .3s;
      }
      &:before{
        transform: translateY(-5px);
      }
      &:after{
        transform: translateY(5px);
      }
    }
    &_active span {
      height: 0;
      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
  &-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 0;
    width: 50%;
    @include font-source-sans(11px, #4e4e4e, normal, normal, 22px);
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    &__link{
      border-bottom: 2px solid #F5F5F5;
      padding: 1.5% 0 1.5% 2%;
      line-height: 22px;
      background-color: white;
    }
  }
}

.header-photo{
  margin-top: 61px;
}





