@media screen and (min-width: 768px){
  header, .main-content{
    padding-left: 10%;
    padding-right: 10%;
  }
  .insta-posts{
    justify-content: space-between;
    &__item{
      width: 20%;
    }
  }
  .menu{
    &-nav {flex-direction: row;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin-top: -30px;
      &__link{
        width: 7%;
        border: none;
        background: none;
      }
    }
  }
  .posts{
    &__item{
      flex-direction: row;
    }
    &__description{
      margin-left: 3%;
    }
  }
}

@media screen and (min-width: 1200px){
  .posts {
    justify-content: space-between;
    &__item {
      width: 40%;
      flex-direction: row;
      justify-content: center;
      margin-right: 4%;
    }
  }
}