@mixin displayFlex($direction, $mainAlign, $secondAlign){
  display: flex;
  flex-direction: $direction;
  justify-content: $mainAlign;
  align-items: $secondAlign;
}


@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin widthHeight($width, $height){
  width: $width;
  height: $height;
}

@mixin font-source-sans($size: false, $colour: false, $weight: false, $style: false, $lh: false) {
  font-family: Roboto, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $style {font-style: $style}
  @if $lh { line-height: $lh; }
}