@import "variables";
@import "mixins";
@import "headerStyles";
@import "conctentStyles";
@import "footerStyles";
@import "media";

*{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: auto;
}