.button{
  padding: 20px;
  font-size: 20px;
  margin-right: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  outline: none;
  &:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
