.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

input:nth-of-type(1){
    margin-right: 100px;
}

input:hover{
    cursor: pointer;
}