.product-card{
  border: 5px solid #393b44;
  border-radius: 20px;
  background-color:  white;
  display: inline-block;
  position: relative;
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 0 0 15px 0;
  &__photo{
    border-radius: 5px;
    & img{
      width: 250px;
      height: 250px;
    }
  }
  &__text{
    text-transform: uppercase;
    font-weight: bold;
  }
  &__name{
    text-align: center;
  }
  &__price-block{
    margin: 5px 0;
  }
  &__price{
    margin: 20px auto;

  }

}