.star{
  text-align: start;
}
#star {
  font-size: 20px;
  position: absolute;
  left: 20px;
  transition: .4s;
  margin: 0 0 20px 0;
  text-align: start;
  transform-origin: center;
  &:hover{
    cursor: pointer;
    //font-size: 25px;
    transform: scale(1.2);
  }
}

#star-active{
  @extend #star;
  color: red;
}

