.button{
  padding: 10px;
  font-size: 20px;
  display: block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0 auto;
  &:hover{
    cursor: pointer;

  }
}
