body{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', sans-serif;
    cursor: default;
}

.wrap{
    height: 100vh;
    background-image: url("images/journey-photo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sprite {
    background-image: url("images/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-bigLine {
    width: 1px;
    height: 28px;
    background-position: -5px -5px;
    float: left;
   margin-left: 18px;
    margin-top: -4px;
}

.sprite-ic_calc {
    width: 19px;
    height: 19px;
    background-position: -16px -5px;
    float: right;
    margin-right: 28px;
}

.sprite-ic_facebook {
    width: 10px;
    height: 20px;
    background-position: -45px -5px;
    float: left;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -16px -35px;
    float: right;
    margin-right: 28px;
}

.sprite-ic_google {
    width: 25px;
    height: 16px;
    background-position: -65px -5px;
    float: left;
    margin-top: 2px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -65px -31px;
    margin-right: 25px;
    float: right;
}

.sprite-line {
    width: 1px;
    height: 19px;
    background-position: -100px -5px;
    float: right;
    margin-right: 24px;
}

.sprite-line:hover{
    background-image: url("images/spritesheet-2.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -72px -5px;
    transition: 1s;
}

.sprite-ic_journey:hover{
    background-image: url("images/spritesheet-2.png");

    background-position: -5px -35px;
    transition: 0.5s;
}

.sprite-ic_calc:hover{
    background-image: url("images/spritesheet-2.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -5px;
    transition: 0.5s;
}

.sprite-ic_forum:hover{
    background-image: url("images/spritesheet-2.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -34px -5px;
    transition: 1s;
}

.header{
    max-width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 18px 75px 18px 81px ;
}

.header-logo{
    font-size: 19pt;
    color: rgba(255, 255, 255, 255);
    float: left;
    text-decoration: none;
}

.header-logo:hover{
    color: #3cb878;
    transition: 1s;
}


.header-text{
    float: right;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);

}

.header-text-green{
    color: #3cb878;
    text-decoration: none;
}

.header-text-green:hover{
    text-decoration: underline;
}

.form{
    min-width: 329px;
    max-width: 329px;
   overflow: auto;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 29px 59px 32px 60px;
}

.green-block{
    position: absolute;
    left: 0;
    top: 29px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.form-text {
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    float: left;
}
.form-header{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.form-logIn{
    float: right;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
    text-decoration: none;
}

.form-logIn:hover{
    text-decoration: underline;
    transition: 1s;
}
.social-networks{
    overflow: auto;
}

.facebook{
    width: 117px;
    height: 20px;
    padding: 13px 17px 13px 20px;
    background-color: #305db8;
    border-radius: 5px;
    float: left;
}

.facebook-text{
    float: right;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
   margin-top: 2px;
}

.google{
    width: 117px;
    height: 20px;
    padding: 13px 17px 13px 20px;
    background-color: #df4a32;
    border-radius: 5px;
    float: right;
}

.google-text{
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    float: right;
    margin-top: 3px;
}

.orLine {
    margin-top: 33px;
    overflow: hidden;
    text-align: center;
}
.orLine:before,
.orLine:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #eaeaea;
    border: solid #FFF;
    border-width: 0 10px;
}
.orLine:before {
    margin-left: -100%;
    margin-right: 18px;
}
.orLine:after {
    margin-right: -100%;
    margin-left: 18px;
}

.createAcc{
    margin-top: 18px;
}

input {
    width: 99%;
    height: 40px;
    text-indent: 17px;
    outline: none;
}
input:focus {
    border: 1px solid #000000;
    box-shadow: 2px 2px 20px #d6d6d6;
    height: 42px;/*добавил из-за того, что при активации высота инпута уменьшалась и весь белый блок тоже*/
}

form>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 9px;
}
form>ul>li:last-child{
    margin-bottom: 22px;
}


input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #47bc80;
    border-bottom: 4px solid #47bc80;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}

.agreement{
    color: #3cb878;
    text-decoration: none;
}

.agreement:hover{
    text-decoration: underline;
    cursor: alias;
}

button[type="submit"]{
    width: 100%;
    height: 46px;
    margin-top: 28px;
    padding: 0;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    background-color: #3cb878;
    border: none;
}

button[type="submit"]:hover{
    background-color: #329a65;
    transition: 1s;
    cursor: pointer;
}







